body{
    margin: 0;
    padding: 0;
}

header{
    background: url(image-header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 30rem;
}
.img__fleche{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 255px;
    left: 48%;
    z-index: 1;
    
}
.logo__header{
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 40px;
    width: 15%;
}



.nav__list{
    float: right;
    list-style: none;
    margin-top: 30px;
    font-size: 100%;
}

.nav__list li{
    display: inline-block;
}

.nav__list li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin-right: 20px;
}

.nav__list li a:hover{
    background: rgba(255, 255, 255, 0.33);
    color: white;
    border-radius: 20px;
}

.div__grid{
    width: 100%;
   
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
}

.grid__element{
    width: 100%;
    height: 400px;
    background: #fff;
}

.img__grid2{
    width: 100%;
    height: 400px;
}
.img__grid3{
    width: 100%;
    height: 400px;
}
.img__grid5{
    width: 100%;
    height: 400px;
}
.img__grid6{
    width: 100%;
    height: 400px;
}
.titre__grid1{
    text-align: left;
    padding-left: 5rem;
    padding-top: 80px;
}
.paragraphe__grid1{
    padding-left: 5rem;
}

.grid__element .img__grid5{
    background: url(image-graphic-design.jpg);
}
.grid__element .img__grid6{
    background: url(image-photography.jpg);
    background-size: cover;
    position: relative;
}
.testimonial{
    width: 100%;
    height: 550px;
   
}
.class__testimonial{
    text-align: center;
    color: #A9A9A9;
    padding-top: 120px;
    font-size: 30px;
}

.img__temoignage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.temoignage{
    margin: 20px;
    display: flex;
    text-align: center;
    margin-left: 140px;
    margin-top: 80px;
}

.before__footer{
    display: flex ;
    margin-top: 200px;
}

.avant__footer{
 width: 25%;

}

.footer{
    width: 100%;
    height: 200px;
    background-color: #A3E4D7;
    position: relative;
    
}
h3{
   
    position: absolute;
    font-size:30px;
    color: darkslategrey;   
    margin-left: 45%;
    margin-top: 40px;
}
.footer__list{
    float: center;
    list-style: none;
    margin-left: 500px;
   
}
.footer__list li{
    display: inline-block;
    padding: 20px;
    margin-top: 90px;
    
}
.footer__list li a{
    text-decoration: none;
    color: darkslategrey ;
    
   
}
.footer__list li a:hover{
    color: white;
}

@media screen and (max-width: 768px) { 
   .nav__list{
        /* display: none; */
        font-size: 70%;
   }
   .img__fleche{
       left:47%;
   }
   .logo__header{

   }

}

